
.vs/Student_Assignment_System/v16/.suo
*.cache
Student_Assignment_System/bin/Debug/Student_Assignment_System.exe
Student_Assignment_System/bin/Debug/Student_Assignment_System.pdb
Student_Assignment_System/obj/Debug/Student_Assignment_System.csproj.FileListAbsolute.txt
Student_Assignment_System/obj/Debug/Student_Assignment_System.exe
Student_Assignment_System/obj/Debug/Student_Assignment_System.pdb 
