
Student_Assignment_System/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/Student_Assignment_System/v16/.suo
Student_Assignment_System/obj/Debug/Student_Assignment_System.csprojAssemblyReference.cache
